@model SearchModel
@{
    ViewData["Title"] = "Index";
}

<form method="post">
    <div class="form-group col-md-6">
        <label>Please enter Search Term</label>
        <input asp-for="SearchTerm" class="form-control" />
        <span class="text-danger" asp-validation-for="SearchTerm"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Url">Please enter Url</label>
        <input asp-for="Url" class="form-control" />
        <span class="text-danger" asp-validation-for="Url"></span>
    </div>
    <div class="form-group">
        <label class="text-danger">@ViewBag.SearchResult</label>
    </div>
    <button class="btn btn-light">Search</button>
</form>
